html body{
background-color: #ecf6e5 ;
height: 100%;
margin: 0;
padding: 0;
}

h1 {
font-family: arial;
font-weight: bold;
text-align: center;
color: white;
background-color: #35446d;
text-decoration: underline;
text-transform: uppercase;
letter-spacing: 1px
}

#left {
width: 30%;
height: 100%;
float: left;
}


#map{
width: 70%;
height: 530px;
float: right;
}

#mapsearch {
position: center;
margin-left: 45px;
float: center;
position: relative;
background: #fff;
border-radius: 8px;
box-sizing: border-box;
width: 300px;
height: 40px;
transition-duration: 0.3s;
}

#discover {
font-family: arial;
font-size: 18px;
margin-left: 45px;
font-weight: bold;
text-align: center;
position: : center;
color: white;
border-radius: 10px;
background-color: #6f356a;
text-transform: uppercase;
letter-spacing: 1px;
max-width: 300px;
}

#p1 {
font-family: arial;
font-size: 12px;
margin-left: 45px;
font-weight: bold;
text-align: center;
color: black;
letter-spacing: 1px;
max-width: 300px;
}

.button {
display: block;
width: 50px;
line-height: 30px;
text-align: center;
vertical-align: middle;
background: none;
background: linear-gradient(40deg, #45cafc, #303f9f) !important;
color: white;
text-transform: uppercase;
}

.button:hover {
background: linear-gradient(40deg, rgb(255, 216, 111), rgb(252, 98, 98)) !important;
}

#tab {
margin-top: 70px;
}

table {
 font-family: arial;
 border-radius: 5px;
 width:90%;
 background: white;
 }
th, td {
 border:0px solid black;
 width:20%;
 }
td {
 text-align:center;